<header id="header">
  <div class="inner">
    <a href={{ "/" | relative_url }} class="image avatar"><img src={{"images/AN.jpeg" | relative_url }} alt="Abhishek Naik's Photo" /></a>
    <h1>Abhishek Naik</h1>
    <h3>Ph.D. student, <br>University of Alberta; Amii</h3>
  </div>
  <div class="menu-wrap">
    <nav class="menu">
      <ul class="clearfix">
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#research">Research</a></li>
        <!-- <li><a href="#talks">Talks</a></li> -->
        <!-- <li><a href="#teaching-experience">Teaching</a></li> -->
        <li><a href="#work-experience">Work Experience</a></li>
        <li><a href="#interests-and-hobbies">Hobbies</a></li>
        <li><a href="#contact-me">Contact Me</a></li>
        <li><a href="AllPosts">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
