<header id="header">
  <div class="inner">
    <a href={{ "/" | relative_url }} class="image avatar"><img src={{"images/AN.jpeg" | relative_url }} alt="Abhishek Naik's Photo" /></a>
    <h1>Abhishek Naik</h1>
    <h3>Ph.D., <br>University of Alberta; <a href="https://www.amii.ca/">Amii</a></h3>
    <!-- <h3><a href="http://rlai.ualberta.ca">RLAI lab</a>, <br>University of Alberta; <a href="https://www.amii.ca/">Amii</a></h3> -->
  </div>
  <div class="menu-wrap">
    <nav class="menu">
      <ul class="clearfix">
        <li><a href={{ "#about-me" | relative_url }}>About Me</a></li>
        <li><a href={{ "#research" | relative_url }}>Research</a></li>
        <!-- <li><a href="#talks">Talks</a></li> -->
        <!-- <li><a href="#teaching-experience">Teaching</a></li> -->
        <li><a href={{ "#work-experience" | relative_url }}>Work Experience</a></li>
        <li><a href={{ "#interests-and-hobbies" | relative_url }}>Hobbies</a></li>
        <li><a href={{ "#contact-me" | relative_url }}>Contact Me</a></li>
        <li><a href={{ "uploads/Resume_AbhishekNaik.pdf" | relative_url }}>Resume</a></li>
        <li><a href={{ "AllPosts" | relative_url }}>Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
